# Pre-requisites
- You are expected to have a **basic understanding of Python and Pandas**.  
- If you are new to Python, please review the attached **Python Review** and **Python Pandas/Numpy Review** PDFs.  
- You may also take *Python Essential Training* by Ryan Mitchell on **LinkedIn Learning**.  
  - Since Bryant has a LinkedIn Learning site license, you can access this and any other courses by signing in with your Bryant email.  
- For all hands-on demonstrations and assignments, you will have free access to a **cloud-based Jupyter Lab**.  The server will give you access to GPU capability.
  - Log into the [HPC server](http://hpc.bryant.edu) using your Bryant email and password.

# Data Understanding: Boston Airbnb Open Data 

This project focuses on data preparation and cleaning, the third step in the data process. Once the data is cleaned, we will use simple Python Pandas code to explore the dataset and visualize the results.

This dataset was obtained from [Kaggle](https://www.kaggle.com/datasets/airbnb/boston).

The following Airbnb activity is included in this Boston dataset:

 - Listings, including full descriptions and average review score
 - Reviews, including unique id for each reviewer and detailed comments
 - Calendar, including listing id and the price and availability for that day
 
 For this analysis, we will Listings and reviews data.

# Import packages and airbnb listings data

In [1]:
# read listings data

# Review Listings data

For this project, we will mainly focus on listings data

In [2]:
# check the shape of the data. We have 3585 listings with 95 columns

In [3]:
# check the first 5 rows of the data

In [4]:
# check the last few rows of data

In [5]:
# check columns in the dataset

In [6]:
# check total number of columns in the dataset

In [7]:
# select interested columns for further analysis. 
# We will focus understanding price of listings and how it is impacted by other factors such as location, review rating and etc.

In [8]:
# Since we have a lot of columns, we can display a few columns at once

#check first 10 columns of df1



# you can change the range to check other columns. Below code show the columns from 11th to 20th position

# Data Cleaning
- Check the data type, make sure they look correct

In [9]:
# price is object (string type). It should be float.
# by looking at the price, we noticed it has dollar sign and thousand seperator. We need to remove them so that we can covert price from object to float

In [10]:
# remove $ and thousand seperator ,


# convert price from string to float



# check cleaned price

In [11]:
# first_review and last_review should be date and was imported as object

In [12]:
# use to_datetime to convert first review and last reviw to date

In [13]:
# check the data type again

# Summary statistics

In [14]:
# summarize numerial columns

In [15]:
# use transpose if you have many columns

In [16]:
# summarize categorical columns

In [17]:
# check missing values in each column

In [18]:
# square_feet has 3529/3585 (98%) missing value, drop it from further analysis

In [19]:
# deal with missing values.
# for summary and property_type column, replace with NA

In [20]:
# deal with missing values.
# for numerical column, replace with mean

#Step 1: select all numerical columns with missing values



# step 2: replace missing value with mean

## Note about dates
We will leave missing value for date (first_review and last_review) for the time being.
we generally don’t want to replace missing dates with the mean or “NA” string the same way we do with categorical or numeric data.
Dates need a different strategy depending on how you’ll use them.

In [21]:
# we can use value_counts() to find unique values in a column
# what are different type of beds available in airbnb?

## Understand shape and distribution of data

Histogram/Boxplot

In [22]:
# check distribution of price using histogram

# set the figure size

In [23]:
# limit to price below 1000, use 20 bins


# save figure

In [24]:
# we only lose 10 listings after removing all listings with price over 1000

In [25]:
# boxplot

In [26]:
# Save the cleaned data as csv for further analysis

# Exploratory Analysis
- display top 5 neighbourhood by number of listings
- Average listing price by neighbourhood. Limit to the top 5 neighbourhood that has the highest average price
- Number of Listings by price range
- display count, mean, max, min price for all listings by neighborhood. Limit to top 5 neighbourhood based on number of listings
- Identify top 10 amenities.
- Average number of reviews by property_type and room_type. Limit to top 3 property
- Display Average Price and Review Score of Location by top 10 Neighbourhood
- whether review score rating is related to price
- number of reviews by date

In [27]:
# read cleaned listing data in

## display top 5 neighbourhood by number of listings

In [28]:
# prepare for visualization

In [29]:
# visualize the result

#Create bar plot


# Labels and title

## Average listing price by neighbourhood. Limit to the top 5 neighbourhood that has the highest average price

In [30]:
#step 1: find the mean of price by neighbourhood


# step 2: sort the list by avarage price


# rename price_cleaned to average_price

In [31]:
# Visualize the result

# Create bar plot


# use sequential color


# Labels and title

In [32]:
# Modify the above chart to rotate x label

# Create bar plot

# Labels and title

# Rotate x labels

## Number of Listings by price range

In [33]:
#Classify price into different range. Create 4 bins for price

In [34]:
# we can define our own value range for the price

In [35]:
# visualize the result

In [36]:
# set the figure size

## display count, mean, max, min price for all listings by neighborhood. Limit to top 5 neighbourhood based on number of listings

In [37]:
# identify top 5 listing based on count (number of listings)

In [38]:
# sort the value by average price

In [39]:
# visualize mean, min and max price by neighbourhood

# step 1 drop count


# use melt function to transform a wide-format DataFrame into a long-format DataFrame (also called “unpivoting”).

In [40]:
# set the figure size

## Identify top 10 amenities.

In [41]:
# increase width of pandas column to see the full content of amenities

In [42]:
# split amenities by comma



# explode each amentity into one row
#  ignore_index resets the index of the exploded result to a continuous 0, 1, 2, … sequence.

In [43]:
# show top 10 amenities

In [44]:
# need to clean amentities. Remove special character

In [45]:
# visualize the result



# set the figure size

# Labels and title


# Rotate x labels

## Average number of reviews by property type and room type. Limit to top 3 property based on numbe of listings

In [46]:
# store ther result in a dataframe for visualization

In [47]:
# visualize the result

# set the figure size

# Labels and title

## Display Average Price and Review Score of Location by top 10 Neighbourhood

In [48]:
# visualize the result

# Set the figure size



# use a sequential color with 10 variations



# create a bar chart using seaborn


# create a line chart using seaborn and Matplotlib



# set the chart title and labels

## Check whether review score rating is related to price

In [49]:
# create a scatter plot between airbnb review scores and price

## Number of Reviews by Date

In [50]:
# convert data from object to date

In [51]:
# number of reviews by date


#set figure size

In [52]:
# limit to date after 2014


#set figure size

#  Data joining
join listing and review data

listing_id in review table is linked to id in the listings table

In [53]:
## drop id from reviews table



# read cleaned listings data



# join listing and review data